.footer__column-link{
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  transition: 0.45s opacity ease-in;
}
.footer__column-link:hover{
  opacity: 0.75;
}
