.khan__buy-link{
  margin: 0;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: 0.45s opacity ease-in;
}
.khan__buy-link:hover{
  opacity: 0.75;
}
